<h1>Welcome to Alliance Reunited!</h1>
<p>Hosting servers since November 15, 2020.</p>
<br>

<div style="display: flex; justify-content: center;">
    <a href="/minecraft" class="btn btn-lg btn-success">Minecraft</a>
    <a href="/pw" class="btn btn-lg btn-warning">Plutonium</a>
    <a href="#" class="btn btn-lg btn-primary">Garry's Mod</a> <!-- TODO: Add Garry's Mod link -->
</div>
