<h1>Welcome to Alliance Reunited!</h1>
<p>
    Reuniting friends, family, and forgotten organizations, we are a community bringing together these scattered groups as one.
    We've also been hosting servers for various different games since November 15, 2020, for the community, and more. Join our Discord to be part of our amazing community today!
</p>

<iframe src="https://discord.com/widget?id=757079346719621150&theme=dark" width="50%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
