<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alliance Reunited</title>
    <meta name="description" content="Hosting servers so you don't have to.">
    <meta name="keywords" content="servers, gmod, plutonium, minecraft, amongus">

    <!-- OpenGraph Metadata -->
    <meta property="og:title" content="Alliance Reunited">
    <meta property="og:description" content="Hosting servers so you don't have to.">
    <meta property="og:url" content="https://alru.ga">

    <link rel="icon" href="/assets/img/icon.png">

    <!-- MDB -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); %>
    </header>
    <main>
        <div class="app text-center text-light">
            <br>
            <%- body %>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>
</body>

</html>