<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alliance Reunited</title>
    <meta name="description" content="Hosting servers so you don't have to.">
    <meta name="keywords" content="servers, gmod, plutonium, minecraft, amongus">

    <!-- OpenGraph Metadata -->
    <meta property="og:title" content="Alliance Reunited">
    <meta property="og:description" content="Hosting servers so you don't have to.">
    <meta property="og:url" content="https://alru.ga">

    <link rel="icon" href="/assets/img/icon.png">
    
</head>

<body>
    
</body>

</html>