<link rel="stylesheet" href="/assets/css/pages/servers.css">

<h1>Servers</h1>
<p>We host several servers here at Alliance Reunited. Here are some that are publicly available for playing.</p>
<br>

<h2>COD4X</h2>
<br>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Max Players</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="cod4://[::ffff:207.225.26.83]:65460" target="_blank">My Server Name</a></td>
            <td>My Server Description</td>
            <td>Max Players</td>
        </tr>
    </tbody>
</table>
