<h1>Servers</h1>
<p>Here at Alliance Reunited, we host servers for several different games, including Garry's Mod, Minecraft, COD4X, and Rust.</p>

<h2>Garry's Mod</h2>
<p>
    In our Garry's Mod servers, you can choose from a wide variety of gamemodes: DarkRP, Among Us, and our unique special, <bold>Family Guy DarkRP</bold>.
</p>
