<link rel="stylesheet" href="/assets/css/pages/servers.css">

<h1>Servers</h1>
<p>We host several servers here at Alliance Reunited. Here are some that are publicly available for playing.</p>
<br>

<h2>Minecraft</h2>
<br>
<table class="table text-light">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Max Players</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https:///alrumc.ga" target="_blank">AlruMC Network</a></td>
            <td>With Towny, Survival, Anarchy, and more!</td>
            <td>256</td>
        </tr>
    </tbody>
</table>
<br>

<h2>COD4X</h2>
<br>
<table class="table text-light">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Max Players</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="cod4://[::ffff:207.225.26.83]:65460" target="_blank">BroadCast 32v32</a></td>
            <td>A COD4X Server</td>
            <td>64</td>
        </tr>
    </tbody>
</table>
<br>

<h2>Garry's Mod</h2>
<br>
<table class="table text-light">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Max Players</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="gmodlink" target="_blank">My Server Name</a></td>
            <td>A GMod Server</td>
            <td>32</td>
        </tr>
    </tbody>
</table>
