<link rel="stylesheet" href="/assets/css/pages/staff.css">

<h1>Meet The Team</h1>
<br>


<h2>Head Admins</h2>
<div class="card-array">
    <div class="card">
        <img class="card-avatar" src="https://avatars.githubusercontent.com/u/34838468?v=4">
        <span class="card-name head-admin">DamienVesper</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/alpaps.png">
        <span class="card-name head-admin">Alpaps</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/wartowin.png">
        <span class="card-name head-admin">WarToWin</span>
    </div>
</div>
<br>

<h2>Admins</h2>
<div class="card-array">
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/zeropoint.png">
        <span class="card-name admin">zeropoint</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/therandomguy98.png">
        <span class="card-name admin">TheRandomGuy98</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/coelusceer.png">
        <span class="card-name admin">CoelusCEER</span>
    </div>
</div>
<br>

<h2>Senior Moderators</h2>
<div class="card-array">
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/uranousraptor75.png">
        <span class="card-name sr-mod">uranousraptor75</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/tokiwa.png">
        <span class="card-name sr-mod">Tokiwa</span>
    </div>
</div>
<br>

<h2>Moderators</h2>
<div class="card-array">
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/reddevilg.png">
        <span class="card-name mod">reddevilG</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/neonwolf.png">
        <span class="card-name mod">NeonWolf</span>
    </div>
</div>
<br>

<h2>Helpers</h2>
<div class="card-array text-dark">
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/yalocalfurryguy.gif">
        <span class="card-name helper">YaLocalFurryGuy</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/lapis.png">
        <span class="card-name helper">Lapis</span>
    </div>
    <div class="card">
        <img class="card-avatar" src="/assets/img/staff/collinnn.png">
        <span class="card-name helper">Collinnn</span>
    </div>
</div>
<br>
