<link rel="stylesheet" href="/assets/css/pages/staff.css">

<h1>Meet The Team</h1>
<br>

<div class="card-array">
    <div class="card-ha">
        <div class="card">
                <img class="card-avatar" src="https://avatars.githubusercontent.com/u/34838468?v=4">
                <span class="card-name head-admin">DamienVesper</span>
            </div>
        </div>
    </div>
</div>