* {
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}


body {
    background: url('/assets/img/background.jpg');
    background-size: cover;
    background-size: no-repeat;
    height: auto;
}

main {
    padding: 1rem;
    width: 100%;
}
  
.app {
    width: 75%;

    margin: auto;
}
