html,
body,
.app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url('/assets/img/thisoldhouse.jpg');
    background-size: cover;
    height: auto;
}

.app {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
}