<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alliance Reunited</title>
    <meta name="description" content="The home site of Alliance Reunited.">

    <meta property="og:title" content="Alliance Reunited">
    <meta property="og:description" content="The home site of Alliance Reunited.">

    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
</body>

</html>