table {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    margin: auto;
    table-layout: fixed;

    width: 90% !important;
}

table * {
    border-bottom: none;
}

table a {
    text-decoration: none;
}
