.card-array {
    width: 100%;
}

.card-array {
    display: flex;
    justify-content: space-around;
}

.card {
    max-width: fit-content;
    background: none;
    font-size: 0.75rem;
}

.card-avatar {
    width: 7rem;
    height: 7rem;
}

.user-pfp {
    display: block;
}

.head-admin {
    background-color: #1e90ff !important;
}

.admin {
    background-color: #f82055 !important;
}

.sr-mod {
    background-color: #db29ff !important;
}

.mod {
    background-color: #8e30fc !important;
}

.helper {
    background-color: #24c9f2 !important;
}
