<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <span class="navbar-brand">Alliance Reunited</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="nav-"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item" id="nav-about"><a href="/about" class="nav-link">About Us</a></li>
                    <li class="nav-item" id="nav-servers"><a href="/servers" class="nav-link">Servers</a></li>
                    <li class="nav-item" id="nav-servers"><a href="/staff" class="nav-link">Staff</a></li>
                </ul>
                <form action="/search" method="post" class="d-flex">
                    <input class="form-control me-2 text-light" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="nav-panel"><a href="https://panel.alru.ga" target="_blank" class="nav-link">Panel</a></li>
                    <li class="nav-item" id="nav-discord"><a href="https://discord.alru.ga" target="_blank" class="nav-link">Discord</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>