<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Alliance Reunited</a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a href="/" class="nav-link disabled">Home</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="/minecraft" class="nav-link">Minecraft</a></li>
                    <li class="nav-item"><a href="/sharex" class="nav-link">ShareX</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/discord" class="nav-link">Discord</a>
                    </li>
                    <li class="nav-item">
                        <a href="/pw" class="nav-link">IW4M</a>
                    </li>
                    <li class="nav-item">
                        <a href="/panel" class="nav-link">Panel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
