<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alliance Reunited</title>
    <meta name="description" content="The home site of Alliance Reunited.">

    <meta property="og:title" content="Alliance Reunited">
    <meta property="og:description" content="The home site of Alliance Reunited.">

    <link rel="icon" href="/assets/img/icon.png">

    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js"
        integrity="sha512-3yGteaiMnpsxSo0LHYMpODezVs6NjMZ6vFyRoqQK4WcRhacpMCgUsQ4yfu5GtcMoWf2zjDP5ENtmx1+eCCtKXw=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">Alliance Reunited</a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/about" class="nav-link disabled">About Us</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="/plutonium" class="nav-link">Plutonium</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="/minecraft" class="nav-link">Minecraft</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/iw4m" class="nav-link">IW4M</a>
                        </li>
                        <li class="nav-item">
                            <a href="/discord" class="nav-link">Discord</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="text-center text-light">
        <br>
        <h1>About Us</h1>
        <p>We are a community that likes to play games and hang out with the boys. Some of our favorites are <a
                class="text-light" href="https://plutonium.pw">BO2</a>, <a class="text-light"
                href="/minecraft">Minecraft</a>, and <a class="text-light" href="https://getrektby.us">BO1</a>, all
            three of which we host on our servers. <br>Starting
            by hosting <a class="text-light" href="/plutonium">Plutonium</a>, we slowly grew into starting up a
            Minecraft community, and
            then furthering on into
            Rekt T5.</p>
    </main>
</body>

</html>